.endscreen {
  background: #ccc;
  text-shadow: 1px 1px black;
}

h1 {
  margin-right: 0 !important;
}

.endscreen-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-flow: column;
}

form {
  background-color: white;
  padding: 1em;
  border-radius: 1em;
}