.body {
  background: url("/images/Slide3.PNG") 50% 50% no-repeat;
  background-size: cover;
}

h1 {
  margin-right: 0 !important;
}

.body-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-flow: column;
}

form {
  background-color: white;
  padding: 1em;
  border-radius: 1em;
}