.pregame {
  background: #ccc;
  text-shadow: 1px 1px black;
} 

h1 {
  margin-right: 0 !important;
}

.pregame-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-flow: column;
}
